<footer class="footer">
            <div class="grid wide">
                <div class="row dayne">
                    <div class="col l-2-4 m-12 c-12 vlhaha">
                        <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                        <ul class="footer_list">
                            <li class="footer_list-item">
                                <a href="" class="footer-item_link">Đây là giao diện rách đầu tiên</a>
                            </li>
                            <li class="footer_list-item">
                                <a href="" class="footer-item_link">Của một thằng sinh viên năm nhất</a>
                            </li>
                            <li class="footer_list-item">
                                <a href="" class="footer-item_link">Nếu bạn gặp bất cứ vấn đề gì</a>
                            </li>
                            <li class="footer_list-item">
                                <a href="" class="footer-item_link">Thì đó là vấn đề của bạn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-12 c-12 vlhaha">
                        <h3 class="footer__heading">VỀ NAM HOEN</h3>
                        <ul class="footer_list">
                            <li class="footer_list-item">
                                <a href="" class="footer-item_link">Nam sinh đại học năm nhất bí ẩn</a>
                            </li>
                            <li class="footer_list-item">
                                <a href="" class="footer-item_link">SIMP ARYA</a>
                            </li>
                            <li class="footer_list-item">
                                <a href="" class="footer-item_link">Ngày ngủ, đêm ngủ bù cho ngày</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-12 c-12 vlhaha">
                        <h3 class="footer__heading">THANH TOÁN</h3>
                        <ul class="footer_list list_img">
                            <li class="footer_list-item zz">
                                <a href="" class="jlink footer-item_link">
                                    
                                        <img src="https://down-vn.img.susercontent.com/file/d4bbea4570b93bfd5fc652ca82a262a8" alt="">
                                    
                                </a>
                            </li>
                            <li class="footer_list-item zz">
                                <a href="" class="jlink footer-item_link">
                                    
                                        <img src="https://down-vn.img.susercontent.com/file/a0a9062ebe19b45c1ae0506f16af5c16" alt="">
                                    
                                </a>
                            </li>
                            <li class="footer_list-item zz">
                                <a href="" class="jlink footer-item_link">
                                    
                                        <img src="https://down-vn.img.susercontent.com/file/9263fa8c83628f5deff55e2a90758b06" alt="">
                                    
                                </a>
                            </li>
                            <li class="footer_list-item zz">
                                <a href="" class="jlink footer-item_link">
                                    
                                        <img src="https://down-vn.img.susercontent.com/file/0217f1d345587aa0a300e69e2195c492" alt="">
                                    
                                    
                                </a>
                            </li>
                            <li class="footer_list-item zz">
                                <a href="" class="jlink footer-item_link">
                                    
                                        <img src="https://down-vn.img.susercontent.com/file/38fd98e55806c3b2e4535c4e4a6c4c08" alt="">
                                             
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-12 c-12 vlhaha">
                        <h3 class="footer__heading">THEO DÕI</h3>
                        <ul class="footer_list">
                            <li class="footer_list-item hh">
                                <a href="https://www.facebook.com/nam.hoangg45/" class="uis ">
                                    <i class="fa-brands fa-facebook ble"></i>
                                    <span class="footer_text footer-item_link">Facebook</span>
                                </a>
                                
                            </li>
                            <li class="footer_list-item hh">
                                <a href="https://www.instagram.com/nam.hoeng/" class="uis ">
                                    <i class="fa-brands fa-instagram ble"></i>
                                    <span class="footer_text footer-item_link">Instagram</span>
                                </a>
                            </li> 
                        </ul>
                        <!-- <li class="item">
                            <span class="occho">Kết nối</span>
                            <a href="https://www.facebook.com/nam.hoangg45/" class="thefuckk">
                                <i class="hello fa-brands fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/nam.hoeng/" class="thefuckk">
                                <i class="hello fa-brands fa-instagram"></i>
                            </a>
                        </li> -->
                    </div>
                    <div class="col l-2-4 m-12 c-12 vlhaha">
                        <h3 class="footer__heading">VÀO CỬA HÀNG TRÊN ỨNG DỤNG</h3>
                        <div class="caigizay">
                            <div class="footer_dowload">
                                <img src="/img/d91264e165ed6facc6178994d5afae79.png" alt="" class="footer_dowload_qr">
                                <div class="footer_dowload-app">
                                    <img src="/img/f4f5426ce757aea491dce94201560583.png" alt="" class="footer_dowload-icon">
                                    <img src="/img/39f189e19764dab688d3850742f13718.png" alt="" class="footer_dowload-icon">
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </footer>