<form method="POST" action="/me/add/product/store" enctype="multipart/form-data">
    <div class="layout_wrap">
        <div class="avatar_inner">
            <div class="product_wrap">
                <h1 class="product_info">Thông tin sản phẩm</h1>
                <div>
                    <span class="product_form_text product_form_text_1" >Hình ảnh sản phẩm</span>
                    <input type="file" name="product_img" accept="image/*" id="product_img_input" class="file_input">
                    <div class="product_img_wrap">
                        <button class="product_img_place" id="product_img_place">
                            <div class="product_upload_content" id="product_upload_content">
                                <div id="product_upload_content_above">
                                    <div class="product_upload_content_img">
                                        <i class="fa-regular fa-image add_product_img"></i>
                                    </div>
                                    <div class="product_upload_content_text" >
                                        Thêm hình ảnh
                                    </div>
                                </div>
                            </div> 
                        </button>
                        <div class="delete_product_img" id="delete_product_img">
                            <i class="fa-solid fa-trash trash-can" id="trash-can"></i>
                        </div> 
                    </div>
                </div>
                <div>
                    <span class="product_form_text">Tên sản phẩm</span>
                    <input type="text" autocomplete="new-password" class="auth_form_input" name="product_name">
                </div>
                <div>
                    <span class="product_form_text">Giá</span>
                    <input type="text" autocomplete="new-password" class="auth_form_input" name="product_price">
                </div>
                <div class="submit_password">
                    <button type="submit" class="btn btn_primary">Xác nhận</button>
                </div>
            </div>
            
        </div>
    </div>
</form>