{{!-- <form method="POST" action="/me/add/product/edit" enctype="multipart/form-data"> --}}
<div class="layout_wrap">
    <div>
        {{!-- <h1>Thông tin sản phẩm</h1> --}}
        <input type="file" name="image" accept="image/*" id="product_img_input" class="file_input">
        <button class="product_img_place" id="product_img_place">
            <div class="product_upload_content" id="product_upload_content">
                <div class="product_upload_content_img">
                    <i class="fa-regular fa-image add_product_img"></i>
                </div>
                <div class="product_upload_content_text">
                    Thêm hình ảnh
                </div>
            </button>
        </div>
    </div>
</div>
</div>
{{!-- </form> --}}