<div class="layout_wrap">
    <div class="product_inner">
        <div class="product_sell_wrap">
            <div class="product_sell_img_wrap">
                <img src="/products_img/1716782325711.jpg" alt="" class="product_sell_img">
            </div>
            <div class="product_sell_detail_wrap">
                <div>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                    <span class="product_sell_detail_name">Truyện -Thiên sứ nhà bên</span>
                </div>
                <div class="product_sell_detail_evaluate">
                    <span class="product_sell_detail_evaluat_text">Chưa có đánh giá</span>
                </div>
                <div>
                    <span>95.000đ</span>
                </div>
                <div>
                    <span>Số lượng</span>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>