
<form method="POST" action="/me/update/avatar/edit" enctype="multipart/form-data">
<div class="layout_wrap">
    <div class="avatar_inner">
            <div class="avatar_wrap">
                <div class="avatarr" id="avatarr" style="background-image: url('/users_img/{{avatar}}');"></div>
                <input type="file" name="image" accept="image/*" id="avt_input" class="file_input">
                <div>
                    <button class="avatar_btn" id="select_img">Chọn ảnh</button>
                    <button type="submit" class="avatar_btn">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>