<form method="POST" action="/me/update/password/edit?_method=PATCH">
<div class="layout_wrap">
    <div class="pass_inner">
        <div class="ayo_">
            <div class="pass_title">
                <h1 class="thema">Đổi mật khẩu</h1>
                <p class="thema1">Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
            </div>
            <div class="pass_change">
                <div class="password_form">
                    <input type="password" autocomplete="new-password"  class="auth_form_input" placeholder="Mật khẩu hiện tại" name="password">
                </div>
                <div class="password_form">
                    <input type="password" autocomplete="new-password"  class="auth_form_input" placeholder="Mật khẩu mới" name="new_password">
                </div>
                <div class="password_form">
                    <input type="password" autocomplete="new-password"   class="auth_form_input" placeholder="Xác nhận mật khẩu mới" name="renew_password">
                </div>   
                <div class="submit_password">
                    <button class="btn btn_primary">Xác nhận</button>
                </div> 
            </div>  
        </div>
    </div>
</div>
</form>