<!DOCTYPE html>
<html>
    <head>
        <title>hellooooo</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/grid.css">
        <link rel="stylesheet" href="/css/responsive.css">

    </head>
    <body>
       <div class="app">

        {{> header}}
        <div class="container1">
        {{{body}}}
        </div>
        {{> footer}}
        {{> modal}}
        
    <label class="nav_overlay" for="nav-mobile-input"></label>
    
    <nav class="category-2"  id="jajaa">
        <h3 class="category_heading">
            <i class="category_heading-icon fa-solid fa-list"></i>
            <span class="category-text">Danh mục</span>    
        </h3>
        <ul class="category-list">
            <li class="category-item category-item__link-active">
                <a href="" class="category-item__link">Sản Phẩm</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item__link haizz">Sách Mới</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item__link haizz">Light Novel</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item__link haizz">Truyện Tranh</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item__link haizz">Đam Mỹ-BL-GL</a>
            </li>
        </ul>
    </nav>
        <script src="https://unpkg.com/validator@13.11.0/validator.min.js"></script>
        <script  src="/js/bundle.js"></script>
    </body>
</html>